.user_intd_box
	.intd_top
		.intd_photo(style="background-image: url('../img/user.png');")
		.intd_info
			p.intd_info_msg 产品技术部
			p.intd_info_msg 李显
			p.intd_info_msg xianforwork@163.com
		.intd_top_icon
			a.icon_tiny.icon_msg
				i.iconfont.hover_default &#xe608;
	.intd_body
	.intd_foot
		a.intd_foot_msg.hover_default 发起申请
		a.intd_foot_icon
			i.iconfont.hover_default &#xe606;